@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model EntityFramework.Web.Entities.Service

@{
    ViewData["Title"] = Localizer["Sửa"];
}

<h1>@Localizer["Sửa"]</h1>

<h4>@Localizer["Dịch vụ"]</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <input id="picImg" class="Img" type="file" value="@Localizer["Tải ảnh lên"]" name="picImg" accept="image/*">
                <img id="ShowImg" height="100" src="@Model.Img" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                @Html.TextAreaFor(model => model.Summary, new { @class = "productEditor form-control", @rows = "15", @cols = "50", @autocomplete = "off" })
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupIdList" class="control-label"></label>
                <select asp-for="GroupIdList" multiple class="form-control select2">
                    @foreach (var item in ViewBag.GroupIdList as IEnumerable<SelectListItem>)
                    {
                        if (item.Selected)
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="GroupIdList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new { @class = "tinyEditor form-control", @rows = "15", @cols = "50", @autocomplete = "off" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="MetaTitle" class="control-label"></label>
            <input asp-for="MetaTitle" class="form-control" />
            <span asp-validation-for="MetaTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaDescription" class="control-label"></label>
            <input asp-for="MetaDescription" class="form-control" />
            <span asp-validation-for="MetaDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaKeyword" class="control-label"></label>
            <input asp-for="MetaKeyword" class="form-control" />
            <span asp-validation-for="MetaKeyword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaBox" class="control-label"></label>
            <input asp-for="MetaBox" class="form-control" />
            <span asp-validation-for="MetaBox" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaRobotTag" class="control-label"></label>
            <input asp-for="MetaRobotTag" class="form-control" />
            <span asp-validation-for="MetaRobotTag" class="text-danger"></span>
        </div>*@
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
            <label asp-for="UserCreator" class="control-label"></label>
            <input asp-for="UserCreator" class="form-control" />
            <span asp-validation-for="UserCreator" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateCreator" class="control-label"></label>
            <input asp-for="DateCreator" class="form-control" />
            <span asp-validation-for="DateCreator" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserModify" class="control-label"></label>
            <input asp-for="UserModify" class="form-control" />
            <span asp-validation-for="UserModify" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateModify" class="control-label"></label>
            <input asp-for="DateModify" class="form-control" />
            <span asp-validation-for="DateModify" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="UserDeleted" class="control-label"></label>
            <input asp-for="UserDeleted" class="form-control" />
            <span asp-validation-for="UserDeleted" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateDeleted" class="control-label"></label>
            <input asp-for="DateDeleted" class="form-control" />
            <span asp-validation-for="DateDeleted" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="@Localizer["Lưu"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Quay lại danh sách"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
