@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["Trang quản trị nội dung (CMS)"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/select2.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tinymce.min.js"></script>
    <script src="~/js/select2.full.js"></script>
    <script src="~/js/select2totree.js"></script>
    <style>
        .ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

                ul.pagination li a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                ul.pagination li a:hover:not(.active) {
                    background-color: #ddd;
                }
    </style>
</head>
<body>
    <partial name="_Nav" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @System.DateTime.Now.Year - @Localizer["CÔNG TY TNHH BẠC NGỌC TUẤN"]</p>
                </div>
                <div class="col-md-6 text-right">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('select.select2:not([multiple])').select2();
            $('select.select2[multiple]').each(function () {
                initSelect2Multi($(this));
            });
            $('select.tree-search').select2ToTree();
        });
        function initSelect2Multi(a) {
            a.select2({ closeOnSelect: false });
            var b = a.attr('onchange');
            a.removeAttr('onchange');
            a.on('select2:close', function () { eval(b); });
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
