@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Bạc Ngọc Tuấn"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Trang chủ"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">@Localizer["Hàng hóa"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Index">@Localizer["Tin tức"]</a>
                    </li>
                    <li class="nav-item">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@Localizer["Danh mục"] <b class="caret"></b></a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="ParamSettings" asp-action="Index">@Localizer["Tham số"]</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="MenuMainFooters" asp-action="Index">@Localizer["Menu chính c.trang"]</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="MenuSubFooters" asp-action="Index">@Localizer["Menu phụ c.trang"]</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">@Localizer["Nhóm hàng hóa"]</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="NewsCategories" asp-action="Index">@Localizer["Nhóm tin tức"]</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="AccessDenied">@Localizer["Không có quyền"]</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["Thoát"]</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>