@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using Paygate.OnePay
@using WebClient.Helpers

@inject IViewLocalizer Localizer
@inject IHttpContextAccessor httpContext


<!DOCTYPE html>
<html>

<head>
    <title>@Localizer["Lắc Bạc 925 Bạc Ngọc Tuấn - Lắc chân, lắc tay bạc cao cấp nhập khẩu!"]</title>
    <link rel="shortcut icon" href="/Image/bnt_favicon.png" type="image/png" />
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="@Localizer["Các mẫu lắc bạc đẹp và HOT nhất hiện nay. Liên tục cập nhật những mẫu lắc chân, lăc tay bạc cao cấp 92.5 nhập khẩu từ Ý, Thái!"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-language" content="vi" />

    <link rel="canonical" href="https://bacngoctuan.com/" />

    <!-- Geo Meta Tag -->
    <meta name="geo.region" content="VN-HN" />
    <meta name="geo.placename" content="H&agrave; Noi" />
    <meta name="geo.position" content="21.037101;105.881815" />
    <meta name="ICBM" content="21.023454, 105.832304" />

    <meta name="DC.title" content="@Localizer["Trang Sức Bạc Ngọc Tuấn - Trang sức bạc cao cấp 925!"]" />
    <meta name="DC.identifier" content="https://bacngoctuan.com/" />
    <meta name="DC.description" content="@Localizer["Với 15 năm trong lĩnh vực trang sức bạc, Bạc Ngọc Tuấn mang đến cho khách hàng dòng trang sức bạc cao cấp  925 nhập khẩu Ý,Thái - Online - Bảo hành trọn đời!"]" />
    <link rel="stylesheet" href="/template/default/script/default.css" />
    <link rel="stylesheet" href="/template/default/script/bootstrap.min.css" />

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5383WD');</script>
    <!-- End Google Tag Manager -->
    <!----------Thanh-Test-GG Analytics------------>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-83548111-2', 'auto');
        ga('send', 'pageview');

    </script>
    <meta name="google-site-verification" content="yso8wmb0npmGQpGFQjom6SSPG8PgC25TGprRXcQATIQ" />
    <!------------------------------------------->
    <!---------Thanh- Ma Pinterest------>
    <meta name="p:domain_verify" content="3b5344bf0386890787027ab7965a3764" />
    <!------->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '285114241847366', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'ViewContent');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=285114241847366&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!--Thanh Schema contact-->
    <script type="application/ld+json">
        {
          @Html.Raw(@"""@context"": ""http://schema.org"",")
          @Html.Raw(@"""@type"": ""Organization"",")
          "url": "https://bacngoctuan.com",
          "logo": "https://bacngoctuan.com/Image/bacngoctuanlogo.jpg",
          "contactPoint": [{
            @Html.Raw(@"""@type"": ""ContactPoint"",")
            "telephone": "+842473000066",
            "contactType": "customer service"
          }]
        }
    </script> <!--end Schemar-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40015818-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-40015818-6');
    </script>

</head>

<body>
    <!-- Add Facebook Fanpage -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=985143335024595&autoLogAppEvents=1"></script>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5383WD"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- EndT-->

    <a id="toTop" title="@Localizer["Lên trên"]" rel="nofollow"></a>
    <header>
        <!--Start _TopLayoutPartial-->
        @await Html.PartialAsync("_TopLayoutPartial")
        <!--End _TopLayoutPartial-->

        <div class="cover" id="menu-affix" style="background:back">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo hidden-xs">
                        <span style="margin: 0;">
                            <a href="/"><img src="/Image/logo_web_chuan.png" alt="@Localizer["Trang Sức Bạc Ngọc Tuấn - Trang sức bạc cao cấp 92.5"]" /></a>
                            <a class="hidden-sm" href="/">
                                <img src="/Image/logo-header-2.png" alt="@Localizer["Trang Sức Bạc Ngọc Tuấn - Trang sức bạc cao cấp 92.5"]" />
                            </a>
                        </span>
                    </div>

                    <div class="megamenu ">
                        <!-- megamenu web-->
                        <nav class="navbar navbar-color navbar-right hidden-xs nav-web" role="navigation">
                            @await Component.InvokeAsync("Partial", new { _PartialName = "_MainMenuHeader" })

                            <!--VP103 thêm hiệu ứng menu -->
                            <style>
                                li.bnt-salesoc {
                                    animation: bntsale 0.7s;
                                    animation-iteration-count: infinite;
                                }

                                    li.bnt-salesoc span {
                                        color: red;
                                        font-weight: 800;
                                    }

                                @Html.Raw(@"@keyframes bntsale {")
                                    0% {
                                        transform: translate(1px, 1px) rotate(0deg);
                                    }

                                    10% {
                                        transform: translate(-1px, -2px) rotate(-1deg);
                                    }

                                    20% {
                                        transform: translate(-3px, 0px) rotate(1deg);
                                    }

                                    30% {
                                        transform: translate(3px, 2px) rotate(0deg);
                                    }

                                    40% {
                                        transform: translate(1px, -1px) rotate(1deg);
                                    }

                                    50% {
                                        transform: translate(-1px, 2px) rotate(-1deg);
                                    }

                                    60% {
                                        transform: translate(-3px, 1px) rotate(0deg);
                                    }

                                    70% {
                                        transform: translate(3px, 1px) rotate(-1deg);
                                    }

                                    80% {
                                        transform: translate(-1px, -1px) rotate(1deg);
                                    }

                                    90% {
                                        transform: translate(1px, 2px) rotate(0deg);
                                    }

                                    100% {
                                        transform: translate(1px, -2px) rotate(-1deg);
                                    }
                                }
                            </style>
                            <!-- Kết thúc hiệu ứng-->
                        </nav>
                        <!-- end  megamenu web-->
                        <!-- menu mobi-->
                        <nav class="navbar navbar-color navbar-right hidden-lg hidden-md hidden-sm" role="navigation">
                            <!-- navbar-header -->
                            <div class="navbar-header menu-mobi">
                                <ul class="clearfix">
                                    <li class="text-center mob-top-menu">
                                        <span class="glyphicon glyphicon-align-justify"></span>
                                    </li>
                                    <li class="text-center mob-top-search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </li>
                                    <li class="logo-mobi text-center">
                                        <a href="/"><img src="/Image/logo-header-1.png" style="width: 75px;" /></a>
                                    </li>
                                    <li class="text-center mob-top-wishlist">
                                        <span class="glyphicon glyphicon-heart">

                                        </span>
                                    </li>
                                    <li class="text-center mob-top-cart">
                                        @await Component.InvokeAsync("Partial", new { _PartialName = "_ViewCareMobile" })
                                    </li>
                                </ul>
                            </div>
                            <!-- end navbar-header -->

                            <div id="menu" class="navbar-collapse collapse">
                                <div class="mobi-log-res text-center">
                                    <ul>
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <li class="register">
                                                <a href="@(EntityFramework.Web.DBContext.Constants.Authority)/Account/Register?returnUrl=@((Context.MerchantUrl() + "/Account/Login").UrlEncode())" title="@Localizer["Tặng ngay 100 điểm khi Đăng Ký"]">ĐĂNG KÝ</a>
                                            </li>
                                            <li class="last log-in">
                                                <a asp-action="Login" asp-controller="Account" title="@Localizer["Đăng Nhập hàng ngày để tích điểm"]">ĐĂNG NHẬP</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="register">
                                                <a asp-action="Profile" asp-controller="Account">@Localizer["Hồ sơ"]</a>
                                            </li>
                                            <li class="last log-in">
                                                <a asp-action="Logout" asp-controller="Account">@Localizer["Thoát"]</a>
                                            </li>
                                        }
                                        <li><a href="#"><img src="/Image/Untitled-39.png" alt="English" /></a></li>
                                    </ul>
                                </div>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown megamenu-fw">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-delay="100" data-close-others="false">@Localizer["Trang Sức"]<span class="caret-tc"></span></a>
                                        <ul class="dropdown-menu fullwidth">
                                            <li class="megamenu-content">
                                                <ul>
                                                    @await Component.InvokeAsync("Partial", new { _PartialName = "_MainMenuMobile" })
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-action="ProductNew" asp-controller="Categories">@Localizer["SẢN PHẨM MỚI"]</a>
                                    </li>
                                    <li class="bnt-salesoc">
                                        <a asp-action="ProductHot" asp-controller="Categories">@Localizer["SALE SỐC"]</a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Categories" asp-route-Id="98">@Localizer["TRANG SỨC TÂM LINH"]</a>
                                    </li>
                                    <li>
                                        <a asp-controller="News" asp-action="Details" asp-route-Id="6" asp-route-Title="thiet-ke-rieng">@Localizer["THIẾT KẾ RIÊNG"]</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Contact">@Localizer["LIÊN HỆ"]</a>
                                    </li>
                                </ul>
                            </div>

                            <div id="search" class="navbar-collapse collapse">
                                <div class="search-top-container text-center">
                                    @await Html.PartialAsync("_LeftElementMobile", ViewData.GetSearchInput())
                                </div>
                            </div>

                            <div id="topWishlistContent" class="navbar-collapse collapse">
                                <div class="tab-title">
                                    <div class="promo-title">
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a class="log-in" asp-action="Login" asp-controller="Account" title="@Localizer["Đăng Nhập để lưu những sản phẩm ưa thích"]">@Localizer["Đăng nhập"]</a>
                                            @Localizer["để lưu những sản phẩm ưa thích"]
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="topCartContent" class="navbar-collapse collapse">
                                @await Component.InvokeAsync("Partial", new { _PartialName = "_RightElenmentMobile" })

                            </div>
                        </nav><!-- menu mobi-->
                    </div><!-- end megamenu -->
                </div>
            </div>
        </div>

        <div class="top-fixed hidden-xs">
            <ul>
                <li class="cart-link cwsm">
                    <a href="javascript:void(0)" class="ut-close-icon">close utility</a>
                    <a href="javascript:void(0)" class="fixed-cart">cart</a>
                    @await Component.InvokeAsync("Partial", new { _PartialName = "_RightElement" })
                </li>

                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="wishlist-link cwsm">
                        <a href="javascript:void(0)" class="ut-close-icon">close utility</a>
                        <a href="javascript:void(0)" class="fixed-wish">Wish</a>
                        <div class="wishlist-title">

                            <a class="sign-in" asp-action="Login" asp-controller="Account">@Localizer["Đăng nhập"]</a>
                            @Localizer["để lưu những sản phẩm ưa thích"]

                        </div>
                    </li>

                }

                <li class="search-link cwsm">
                    @await Html.PartialAsync("_LeftElement", ViewData.GetSearchInput())
                </li>
                <li class="mail-link cwsm">
                    <a href="javascript:void(0)" class="ut-close-icon">close utility</a>
                    <a href="javascript:void(0)" class="fixed-mailing">Mailinglist</a>
                    <div class="mailing-list-title">
                        <span class="title"> @Localizer["ĐĂNG KÝ NGAY"]</span>
                        <!--		<span class="description">SAVE 5%</span> -->
                    </div>
                    <div class="cwsm-container ">
                        <div class="cwsm-wrapper text-center">
                            <p class="text-justify">
                                <!--Đăng ký Email nhận bản tin. Bạn sẽ là người đầu tiên nhận những mẫu hàng hóa mới nhất của chúng tôi qua email.!
                                -->

                            </p>

                        </div><!--cwsm-wrapper-->
                    </div>
                </li>
            </ul>
        </div>

    </header>

    <!-- popup -->
    <div id="showPop">

    </div>
    <!--end popup-->

    <section>
        @RenderBody()
    </section>
    <!--VP055 Criteo -->
    @*<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>


    <script type="text/javascript">
        var deviceType = (window.innerWidth <= 767) ? 'm' : (window.innerWidth >= 980) ? 'd' : 't';
        window.criteo_q = window.criteo_q || [];
        window.criteo_q.push(
            { event: "setAccount", account: 38431 },
            { event: "setEmail", email: "" },
            { event: "setSiteType", type: "deviceType" },
            { event: "viewHome" }
        );
    </script>*@
    <div class="clear"></div>
    <div class="clear"></div>

    <footer>
        <div class="container  ">
            <div class="footer-content1 col-md-12">
                <div class="col-md-3 ">
                    <div class="idden-sm hidden-xs text-center">
                        <img src="/Image/logo.gif" />
                        <h4>BACNGOCTUAN.COM</h4>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hidden-xs ">
                    <ul>
                        <li><a href="https://bacngoctuan.com/">@Localizer["TRANG SỨC BẠC"]</a></li>
                        @await Component.InvokeAsync("Partial", new { _PartialName = "_CateFooter" })
                        <!--      <li><a href="/sitemap">SITE MAP</a></li> -->
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 ft-mobi-4 ">
                    <ul class="hidden-xs">
                        <!--web-->
                        <li><a href="/About/1">@Localizer["GIỚI THIỆU"]</a></li>
                        <li><a href="/About/2">@Localizer["CHÍNH SÁCH"]</a></li>
                        <li><a href="/About/3">@Localizer["HOẠT ĐỘNG CỘNG ĐỒNG"]</a></li>
                        <li><a href="/About/11">@Localizer["HƯỚNG DẪN"]</a></li>
                        <li><a href="/About/4">@Localizer["HÌNH THỨC THANH TOÁN"]</a></li>
                        <li><a href="/About/5">@Localizer["ĐÁNH GIÁ KHÁCH HÀNG"]</a></li>
                        <li><a href="/About/6">@Localizer["TUYỂN DỤNG"]</a></li>
                        <li><a href="/Contact">@Localizer["LIÊN HỆ"]</a></li>

                    </ul>
                    <div class="hidden-lg hidden-sm hidden-md">
                        <!--mobi-->
                        <p>
                            <a style="font-size:10px;" href="/About/1">@Localizer["GIỚI THIỆU"]</a>
                            <span class="space1">|</span>
                            <a style="font-size:10px;" href="/About/2">@Localizer["CHÍNH SÁCH"]</a>
                            <span class="space1">|</span>
                            <a style="font-size:10px;" href="/About/11">@Localizer["HƯỚNG DẪN"]</a>
                        </p>
                        <p>
                            <a style="font-size:10px;" href="/About/4">@Localizer["HÌNH THỨC THANH TOÁN"]</a>
                            <span class="space1">|</span>
                            <a style="font-size:10px;" href="/Contact">@Localizer["LIÊN HỆ"]</a>
                        </p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 td ft-mobi-3 text-center">
                    <div class="fb-page" data-href="https://www.facebook.com/bacngoctuan.fanpage/" data-tabs="timeline" data-width="" data-height="210" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bacngoctuan.fanpage/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bacngoctuan.fanpage/">Trang Sức Bạc Ngọc Tuấn</a></blockquote></div>

                </div>
            </div>
            <div class="footer-content1 col-md-12">
                <div class=" idden-sm hidden-xs text-center col-md-3">
                    <!-- <div class="fb-page" data-href="https://www.facebook.com/bacngoctuan.fanpage?ref=hl" data-width="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/bacngoctuan.fanpage?ref=hl"><a href="https://www.facebook.com/bacngoctuan.fanpage?ref=hl">NGOCTUAN SILVER</a></blockquote></div></div>
                     -->
                    <!-- <a href="//www.facebook.com/bacngoctuan.fanpage?ref=hl"><img src="/Image/face.jpg"style="width:96%"/></a> -->

                    <p><u>FOLLOW BACNGOCTUAN.COM</u></p>
                    <span itemscope itemtype="http://schema.org/Organization">
                        <link itemprop="url" href="https://bacngoctuan.com">
                        <a itemprop="sameAs" href="https://www.facebook.com/bacngoctuan.fanpage/" target="_blank"><img src="/Image/fb.png" /></a>
                        <a itemprop="sameAs" href="https://instagram.com/bacngoctuan/" target="_blank"><img src="/Image/ITG.png" /></a>
                        <a itemprop="sameAs" href="https://plus.google.com/110513988923237734113" target="_blank"><img src="/Image/G.png" /></a>
                        <a itemprop="sameAs" href="https://twitter.com/bacngoctuan" target="_blank"><img src="/Image/Tw.png" /></a>
                        <a href="skype:ngoctuansilver?call"><img src="/Image/Sky.png" /></a>
                    </span>
                    <!--Ket thuc-->

                </div>
                <div class="col-md-3 col-sm-6 lh ft-mobi-5" style="font-size:11px;">
                    <div itemscope itemtype="http://schema.org/Organization">
                        @await Component.InvokeAsync("Partial", new { _PartialName = "_CompanyInfo" })
                    </div>
                    <a asp-controller="News" asp-action="Details" asp-route-Id="2" asp-route-Title="danh-sach-dai-ly-chinh-hang" target="_blank" style="background-color:#000098;  color: white;font-size:12px; text-shadow:none;">
                        @Localizer["ĐẠI LÝ CHÍNH HÃNG"]
                    </a>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p><hr /></p>
                </div>
                <div class="col-md-3 col-sm-6 ft-mobi-1" style="font-size:11px;">
                    <div class="ht hidden-xs ">
                        <p><u>@Localizer["HỖ TRỢ THANH TOÁN"]</u></p>
                        <img src="/Image/Untitled-25.png" />
                        <img src="/Image/Untitled-26.png" />
                        <img src="/Image/Untitled-27.png" />
                    </div>
                    <div class="cn" style="font-size:11px;">
                        <p><u>@Localizer["WEBSITE ĐƯỢC CHỨNG NHẬN"]</u></p>
                        <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=4849"><img src="/Image/Untitled-28.png" /></a>
                        <a href=""><img src="/Image/Untitled-29.png" /></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ft-mobi-2 text-center" style="font-size:11px;">
                    <a asp-controller="News" asp-action="Details" asp-route-Id="3" asp-route-Title="Tim-Doi-Tac-Lien-Ket" target="_blank">
                        <p style="font-size:12px;padding:5px 5px;border:1px solid #000098; background: #000098; color:#ffffff; height: 29px !important; text-align:center !important">
                            <b>@Localizer["TÌM ĐỐI TÁC LIÊN KẾT"]</b>
                        </p>
                    </a>

                    <!--	<p><u>FOLLOW NGOCTUANSILVER.COM</u></p>
                      <a href="//facebook.com/bacngoctuan.fanpage" target="_blank"> <img src="https://bacngoctuan.com/Image/fb.png"/></a>
                      <a href="skype:ngoctuansilver?call"><img src="/Image/Sky.png"/></a>
                        <a href="//twitter.com/bacngoctuan" target="_blank"><img src="/Image/Tw.png"/></a>
                        <a href="//plus.google.com/u/0/103481941410538798498" target="_blank"><img src="/Image/G.png"/></a>
                        <a href="//instagram.com/bacngoctuan/" target="_blank"><img src="/Image/ITG.png"/></a> -->
                </div>
            </div>
        </div>
    </footer>

    <script src="/template/default/script/jquery.min.js"></script>
    <script src="/template/default/script/carousel.js"></script>
    <script src="/template/default/script/bootstrap.min.js"></script>
    <script src="/template/default/script/bootstraphoverdropdown.js"></script>
    <script src="/template/default/script/jquery.themepunch.tools.min.js"></script>
    <script src="/template/default/script/jquery.themepunch.essential.min.js"></script>
    <script src="/template/default/script/default.js"></script>
    @*<script type="text/javascript" src="/template/default/script/common.js"></script>*@
    @*<script type="text/javascript" src="/ajax/product_view_history.php"></script>*@

    <script>
        $(document).ready(function ($) {
            $(".owl-carousel").owlCarousel({
                items: 4,
                lazyLoad: true,
                navigation: true
            });
        });

        var essapi_1;
        jQuery(document).ready(function () {
            essapi_1 = jQuery("#esg-grid-1-1").tpessential({
                layout: "cobbles",
                forceFullWidth: "off",
                lazyLoad: "off",
                row: 9,
                ajaxContentTarget: "ess-grid-ajax-container-",
                ajaxScrollToOffset: "0",
                ajaxCloseButton: "off",
                ajaxContentSliding: "on",
                ajaxScrollToOnLoad: "on",
                ajaxNavButton: "off",
                ajaxCloseType: "type1",
                ajaxCloseInner: "false",
                ajaxCloseStyle: "light",
                ajaxClosePosition: "tr",
                space: 5,
                pageAnimation: "scale",
                paginationScrollToTop: "off",
                spinner: "spinner3",
                spinnerColor: "#758991",
                lightBoxMode: "filterpage",
                animSpeed: 1000,
                delayBasic: 1,
                mainhoverdelay: 1,
                filterType: "single",
                filterGroupClass: "esg-fgc-1",
                googleFonts: ['Raleway:100,200,300,400,500,600,700,800,900', 'Droid+Serif:400,700', 'lato:400', 'Open+Sans:300,400,600,700,800'],
                aspectratio: "1:1",
                responsiveEntries: [
                    { width: 1400, amount: 3 },
                    { width: 1170, amount: 3 },
                    { width: 1024, amount: 3 },
                    { width: 960, amount: 3 },
                    { width: 778, amount: 3 },
                    { width: 640, amount: 1 },
                    { width: 480, amount: 1 }
                ],
                rowItemMultiplier: [
                    [3, 3, 3, 3, 3, 1, 1],
                    [1, 1, 1, 1, 1, 1, 1],
                    [4, 4, 4, 4, 4, 1, 1]
                ]
            });
            jQuery(".filterall").each(function () {
                var $this = jQuery(this);
                if ($this.data('cobblesw') == 2) {
                    $this.find('.esg-bc.eec').css({ 'bottom': '2%', 'text-align': 'left', 'margin-left': '20px' });

                }
            });
        });

    </script>

    <script src="/template/default/script/header.js?v=2"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });

            $('#toTop').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 800);
            });
        });
    </script>
    <link rel="stylesheet" href="/template/default/script/reponsive.css" />

    <link rel="stylesheet" href="/template/default/script/settings.css" />

    <link rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap-theme.min.css" />

    <!--Begin Chatngay -->
    @*<script type='text/javascript'>
            !function (t) { if (!t.chatngay) { t.chatngay = { client_id: "sjS_sX6Hdo" }; var a = document.createElement("script"); a.async = !0, a.type = "text/javascript", a.src = "https://chatngay-static.glee.vn/files/loader.js"; var e = document.getElementsByTagName("script")[0]; e.parentNode.insertBefore(a, e) } }(window);
        </script>*@
    <!--End-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!--Bỏ hiệu ứng tuyết rơi <script type="text/javascript" src="https://bacngoctuan.com/template/default/script/bnt_snow.js"></script>-->
    <!--Popup -->
    <!--<div id="popup-pht" style="position:fixed; z-index:99; left:10px; bottom:20px"><a href="https://bacngoctuan.com/nhan-doi-bac.html?sort=price-asc" target="_blank"><img class="bnt-nhd" src="http://bacngoctuan.com/media/lib/2020-valentine-popupweb.png"/></a></div>-->
    <!--End popup-->
    <!-- Menu trái -->
    @await Component.InvokeAsync("Partial", new { _PartialName = "_MainMenuLeft" })
    <!-- End menu trái-->

    <script type='text/javascript'>

        function PageNews_OnClick(_Page, _Type, _Cate) {
            switch (_Type) {
                case "ByKeyword":
                    //document.forms["frmSearchByKeyword"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeyword"].action = "/News/Search/" + _Page;
                    document.forms["frmSearchByKeyword"].submit();
                    break;
                case "ByKeywordMobile":
                    //document.forms["frmSearchByKeywordMobile"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeywordMobile"].action = "/News/Search/" + _Page;
                    document.forms["frmSearchByKeywordMobile"].submit();
                    break;
                default:
                    window.location.href = "/News/" + _Cate + "/" + _Page;
                    break;
            }
        }

        function PageProduct_OnClick(_Page, _Type, _Cate, _Orderby, _Min, _Max) {
            switch (_Type) {
                case "ByPrice":
                    if (_Min) document.forms["frmSearchByPrice"].min_price.value = _Min;
                    if (_Max) document.forms["frmSearchByPrice"].max_price.value = _Max;
                    document.forms["frmSearchByPrice"].action = "/Categories/Search/" + _Page + "/" + _Orderby;
                    document.forms["frmSearchByPrice"].submit();
                    break;
                case "ByKeyword":
                    if (_Min) document.forms["frmSearchByKeyword"].min_price.value = _Min;
                    if (_Max) document.forms["frmSearchByKeyword"].max_price.value = _Max;
                    document.forms["frmSearchByKeyword"].action = "/Categories/Search/" + _Page + "/" + _Orderby;
                    document.forms["frmSearchByKeyword"].submit();
                    break;
                case "ByKeywordMobile":
                    if (_Min) document.forms["frmSearchByKeywordMobile"].min_price.value = _Min;
                    if (_Max) document.forms["frmSearchByKeywordMobile"].max_price.value = _Max;
                    document.forms["frmSearchByKeywordMobile"].action = "/Categories/Search/" + _Page + "/" + _Orderby;
                    document.forms["frmSearchByKeywordMobile"].submit();
                    break;
                case "ProductHot":
                    //document.forms["frmSearchByKeywordMobile"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeywordMobile"].action = "/Categories/ProductHot/" + _Page + "/" + _Orderby;
                    document.forms["frmSearchByKeywordMobile"].submit();
                    break;
                case "ProductNew":
                    //document.forms["frmSearchByKeywordMobile"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeywordMobile"].action = "/Categories/ProductNew/" + _Page + "/" + _Orderby;
                    document.forms["frmSearchByKeywordMobile"].submit();
                    break;
                default:
                    window.location.href = "/Categories/" + _Cate + "/" + _Page + "/" + _Orderby;
                    break;
            }
        }

        function SearchSubmit_OnClick(_Type) {
            switch (_Type) {
                case "ByPrice":
                    //document.forms["frmSearchByPrice"].elements["Page"].value = _Page;
                    document.forms["frmSearchByPrice"].action = "/Categories/Search/";
                    document.forms["frmSearchByPrice"].submit();
                    break;
                case "ByKeyword":
                    //document.forms["frmSearchByKeyword"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeyword"].action = "/Categories/Search/";
                    document.forms["frmSearchByKeyword"].submit();
                    break;
                case "ByKeywordMobile":
                    //document.forms["frmSearchByKeywordMobile"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeywordMobile"].action = "/Categories/Search/";
                    document.forms["frmSearchByKeywordMobile"].submit();
                    break;
                case "ProductHot":
                    //document.forms["frmSearchByKeywordMobile"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeywordMobile"].action = "/Categories/ProductHot/" + _Page + "/" + _Orderby;
                    document.forms["frmSearchByKeywordMobile"].submit();
                    break;
                case "ProductNew":
                    //document.forms["frmSearchByKeywordMobile"].elements["Page"].value = _Page;
                    document.forms["frmSearchByKeywordMobile"].action = "/Categories/ProductNew/" + _Page + "/" + _Orderby;
                    document.forms["frmSearchByKeywordMobile"].submit();
                    break;
                default:
                    window.location.href = "/Categories/1";
                    break;
            }
        }

        function OptionPay() {
            var a = document.getElementById("payment_method_cod");
            var a1 = document.getElementById("_payment_method_cod");
            var b = document.getElementById("payment_method_bacs");
            var b1 = document.getElementById("_payment_method_bacs");
            //var c = document.getElementById("payment_method_paygate");
            if (a.checked) {
                a1.style.display = "block";
                b1.style.display = "none";
            }
            else if (b.checked) {
                a1.style.display = "none";
                b1.style.display = "block";
            }
            //else if (c.checked) {
            //    a1.style.display = "none";
            //    b1.style.display = "none";
            //}
        }

        function ChangeQty(name) {
            var max = 99999999;
            var i = name.substring(3);
            var qty = $("#" + name);
            var qtyV = (qty.val() == "" ? max : parseInt(qty.val())); // Lấy số lượng
            if (qtyV < 0) {
                qtyV = 1;
                qty.val(qtyV);
            }
            var qtyMax = (qty.attr("max") == "" ? max : parseInt(qty.attr("max"))); // Lấy số lượng max
            if (qtyMax < 0) qtyMax = max;
            var qtyMin = (qty.attr("min") == "" ? 0 : parseInt(qty.attr("min"))); // Lấy số lượng min
            if (qtyMin < 0 || qtyMin > qtyMax) qtyMin = 0;
            @*if (qtyV < qtyMin || qtyV > qtyMax) {
                qtyV = qtyMin; // Số lượng ko trong khoảng cho phép set = min
                qty.val(qtyV);
                $("#myAlert").attr("style", "display:block;");
                $("#IdTxt").html("@Localizer["<strong>Cảnh báo: </strong> Số lượng không nằm ngoài khoảng"] (" + qtyMin + " - " + qtyMax + ")");
            }*@

            var price = $("#Price" + i);
            var total = $("#Total" + i);
            var priceV = (price.val() == "" ? 0 : parseInt(price.val())); // Lấy giá
            var totalV = insertSepr((priceV * qtyV));
            total.html(totalV);
        }

        function insertSepr(k) {
            var n = "" + k;
            var e = 0;
            var g = "";
            var b = 0;
            var h = n.length - 1;
            var f = n.indexOf(".");
            if (f >= 0) {
                h = f - 1
            }
            for (e = h; e >= 0; e--) {
                if (n.charAt(e) != " ") {
                    if (b++ % 3 == 0 && e != h && n.charAt(e) != "-") {
                        g = "@Paygate.OnePay.Tools.NumberSepr" + g
                    }
                    g = n.charAt(e) + g
                }
            }
            if (f >= 0) {
                for (e = f; e < n.length; e++) {
                    g += n.charAt(e)
                }
            }
            return g
        }
        $(document).ready(function () {
            $(".close").click(function () {
                $("#myAlert").attr("style", "display:none;");
            });
        });

        function updateOrder(f) {
            f.action = "/Order/Update";
            f.submit();
        }

        function processPay(f) {
            f.action = "/Order/Complete";
            f.submit();
        }

        function changePaymentMethod(method) {
            if (!method) method = 1;
            if (method != 1 && method != 2 && method != 3 && method != 4) method = 1;
            $("#payment_method").val(method);
            if (method == 4) loadArea();
        }
    </script>

    <div class="zalo-chat-widget" data-oaid="1561726888311431416" data-welcome-message="Chào!" data-autopopup="1" data-width="350" data-height="420"></div>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <style>
        .zalo-chat-widget {
            left: 0px !important;
        }
    </style>

    <!-- FB Messenger Chat -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "123556357741843");
        chatbox.setAttribute("attribution", "page_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>