@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model EntityFramework.Web.Entities.About
@{
    ViewData["Title"] = Model.Title;
}


<div class="container link-lk-web">
    <ul class="clearfix">
        <li><a href="/">@Localizer["Trang chủ"]</a></li>
        <li><a href="#">@Model.Title</a></li>
    </ul>
</div>
<div class="gt container">
    <div class="gt-left col-md-9">
        @*<h6 class="gt-title title">@Model.Title</h6>
            <div class="date-poster ">
                <ul class="clearfix">
                    <li class="date">@Model.DateCreator.ToString("dd/MM/yyyy HH:mm")</li>
                    <li class="poster"></li>
                </ul>
            </div>*@
        <div class="text-content text-justify format-html">
            @Html.Raw(Model.Description)
        </div>
        <div class="mxh">
            <div class="col-md-5 col-sm-6 ft-mobi-2 ">
                <a href="skype:ngoctuansilver?call"><img src="/Image/Sky.png" /></a>
                <a href="ymsgr:SendIM?bacngoctuan"> <img src="/Image/Ya.png" /></a>
                <a href="//twitter.com/bacngoctuan"><img src="/Image/Tw.png" /></a>
                <a href="//plus.google.com/u/0/103481941410538798498"><img src="/Image/G.png" /></a>
                <a href="//instagram.com/bacngoctuan/"><img src="/Image/ITG.png" /></a>
            </div>
        </div>
    </div>

    <!--T-->
    <div class="gt-right gt-vieo col-md-3 ">
        <div class="gt-title title">@Localizer["Danh sách Video"] </div>
        <hr />
        @await Component.InvokeAsync("Partial", new { _PartialName = "PartialBannerRight" })

    </div>
    <script>
                (function () {
                    var cx = '005180372118349934645:eetydilknbc';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
    </script>
    <gcse:search></gcse:search>
</div>