@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model EntityFramework.Web.Entities.MenuSubFooter

@{
    ViewData["Title"] = Localizer["Sửa"];
}

<h1>@Localizer["Sửa"]</h1>

<h4>@Localizer["Menu phụ chân trang"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UrlText" class="control-label"></label>
                <input asp-for="UrlText" class="form-control" />
                <span asp-validation-for="UrlText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlAddress" class="control-label"></label>
                <input asp-for="UrlAddress" class="form-control" />
                <span asp-validation-for="UrlAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
                <label asp-for="UserCreator" class="control-label"></label>
                <input asp-for="UserCreator" class="form-control" />
                <span asp-validation-for="UserCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreator" class="control-label"></label>
                <input asp-for="DateCreator" class="form-control" />
                <span asp-validation-for="DateCreator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModify" class="control-label"></label>
                <input asp-for="UserModify" class="form-control" />
                <span asp-validation-for="UserModify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModify" class="control-label"></label>
                <input asp-for="DateModify" class="form-control" />
                <span asp-validation-for="DateModify" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserDeleted" class="control-label"></label>
                <input asp-for="UserDeleted" class="form-control" />
                <span asp-validation-for="UserDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDeleted" class="control-label"></label>
                <input asp-for="DateDeleted" class="form-control" />
                <span asp-validation-for="DateDeleted" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="@Localizer["Lưu"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Quay lại danh sách"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
