@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*@model IEnumerable<EntityFramework.Web.Entities.FAQ>*@
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<EntityFramework.Web.Entities.FAQ>

@{
    ViewData["Title"] = Localizer["Danh sách"];
}

<h1>@Localizer["Danh sách"]</h1>

<p>
    <a asp-action="Create">@Localizer["Thêm mới"]</a>
    <form method="get">
        <input type="text" id="Keyword" name="Keyword" value="@ViewData["Keyword"]" placeholder="Từ khóa" />
        <input type="submit" value="Search" />
    </form>
</p>
@using (Html.BeginForm())
{@*@if (Model.Count > 0)
        {*@
<div class="pagination">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page =>
Url.Action("Index", new { page = page, Keyword = ViewData["Keyword"] }),
new PagedListRenderOptions
{
LiElementClasses = new string[] { "page-item" },
PageClasses = new string[] { "page-link" }
})
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.MetaTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaKeyword)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaBox)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaRobotTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCreator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserModify)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModify)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDeleted)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.MetaTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetaDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetaKeyword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetaBox)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetaRobotTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserCreator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserModify)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModify)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateDeleted)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Sửa"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Xem chi tiết"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Xóa"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page =>
Url.Action("Index", new { page = page, Keyword = ViewData["Keyword"] }),
new PagedListRenderOptions
{
LiElementClasses = new string[] { "page-item" },
PageClasses = new string[] { "page-link" }
})
</div>}