@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SSO.Entities.AppUser

@{
    ViewData["Title"] = Localizer["Xóa"];
}

<h1>@Localizer["Xóa"]</h1>

<h3>@Localizer["Bạn có chắc muốn xóa bản ghi này?"]</h3>
<div>
    <h4>@Localizer["Tài khoản"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            AYs Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OldId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Xóa"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Quay lại danh sách"]</a>
    </form>
</div>
