@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model EntityFramework.Web.Entities.Article

@{
    ViewData["Title"] = Localizer["Chi tiết"];
}

<h1>@Localizer["Chi tiết"]</h1>

<div>
    <h4>@Localizer["Tin tức"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainCategories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainCategories.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReferCategories.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TagsReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagsReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Img)*@
            <img id="ShowImg" height="100" src="@Model.Img" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImgBanner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImgBanner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNews)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKeyword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaKeyword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaBox)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaBox)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaRobotTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaRobotTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCreator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateModify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateModify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Sửa"]</a> | <a asp-action="Delete" asp-route-id="@Model.Id">@Localizer["Xóa"]</a> |
    <a asp-action="Index">@Localizer["Quay lại danh sách"]</a>
</div>
