@using WebNuoc.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@await Component.InvokeAsync("Partial", new { _PartialName = "_HomepageBanner" })

<section id="about-home">
    <div class="container">
        @await Component.InvokeAsync("Partial", new { _PartialName = "_HomepageAbout" })
        @*<div class="row">
            <div class="text col-md-7 col-sm-6 col-12">
                <h2>@Localizer["GIỚI THIỆU"]</h2>
                <p>
                    <strong>
                        <span style="font-size:16px;">@Localizer["CÔNG TY TNHH NƯỚC SẠCH NGỌC TUẤN – NAGAOKA"]</span><br />
                        @Localizer["Nhà Máy Nước Sạch Ngọc Tuấn"]
                    </strong>
                </p>
                <p>@Localizer["Dự án Đầu Tư Cấp Nước Sạch Nông Thôn Mới được khởi công từ tháng 09/2017, với tổng vốn đầu tư gần 400 tỷ đồng, công suất thiết kế giai đoạn 1: 9.500m3/ngày đêm, giai đoạn 2: 19.000 m3/ngày đêm, đã hoàn thành cả 2 giai đoạn và đi vào chạy thực tế đạt: 25.000 m3/ngày đêm. Nhà máy nước sạch Ngọc Tuấn tự hào là 1 trong những nhà máy xử lý cung cấp nước sạch dân sinh với Quy Mô và Chất Lượng hàng đầu trong tỉnh nói riêng cũng như trên toàn quốc nói chung với:"]</p>
                <ul>
                    <li>@Localizer["Công nghệ hiện đại nhất nhập khẩu từ Nhật Bản và Israel"]</li>
                    <li>@Localizer["Hệ thống xử lý hoàn toàn tự động trên phầm mềm SCADA – Nhật Bản"]</li>
                    <li>@Localizer["Công suất 25.000m3/ngày đêm"]</li>
                    <li>@Localizer["Cung cấp nước 24/24"]</li>
                </ul>
                <p><a href="/About/1">@Localizer["Xem thêm…"]</a> </p>
            </div>
            <div class="image col-md-5 col-sm-6 col-12">
                <img src="/Image/img_aboutus.jpeg" alt="@Localizer["Công ty TNHH Nước Sạch Ngọc Tuấn – NAGAOKA"]" />
            </div>
        </div>*@
    </div><!--container-->
</section>

<!--ĐĂNG KÝ DỊCH VỤ ONLINE-->
@await Component.InvokeAsync("Partial", new { _PartialName = "_HomepageServiceShortList" })

<!--Ảnh kiểm định chất lượng nước-->
@await Component.InvokeAsync("Partial", new { _PartialName = "_HomepageCAForWater" })

<!--ẢNH VỀ DỰ ÁN NƯỚC SẠCH-->
@await Component.InvokeAsync("Partial", new { _PartialName = "_HomepageProject" })

<!--Thanh - Thêm danh sách video -->
@await Component.InvokeAsync("Partial", new { _PartialName = "_HomepageVideoYoutube" })

<!--Thanh vp103 -->
<section id="home-article">
    <div class="container">
        <div class="row">
            <!--NewOnHome-->
            @await Component.InvokeAsync("Partial", new { _PartialName = "_PartialNewsHome" })

            @await Component.InvokeAsync("Partial", new { _PartialName = "_PartialFAQHome" })

        </div><!--row-->
    </div><!--container-->
</section>

