@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model EntityFramework.Web.Entities.Contact

@{
    ViewData["Title"] = @Localizer["Liên hệ"];
    string noties = "";
    bool reContact = true;
    if (ViewData["Notification"] != null) noties = ViewData["Notification"].ToString();
    if (ViewData["Re-Contact"] != null) reContact = bool.Parse(ViewData["Re-Contact"].ToString());
}
<style>
    .text-success {
        color: #28a745 !important;
    }

    a.text-success:hover, a.text-success:focus {
        color: #19692c !important;
    }

    .text-info {
        color: #17a2b8 !important;
    }

    a.text-info:hover, a.text-info:focus {
        color: #0f6674 !important;
    }

    .text-warning {
        color: #ffc107 !important;
    }

    a.text-warning:hover, a.text-warning:focus {
        color: #ba8b00 !important;
    }

    .text-danger {
        color: #dc3545 !important;
    }

    a.text-danger:hover, a.text-danger:focus {
        color: #a71d2a !important;
    }
    input.input-validation-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>

<section class="head-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 left-side">
                <h1 class="title">@Localizer["Liên hệ với chúng tôi"]</h1>
                <p class="summary">@Localizer["Công ty TNHH Nước Sạch Ngọc Tuấn - NAGAOKA"]</p>
            </div><!--left-->
            <div class="col-md-6 col-12 right-side">
                <div id="breadcrumb">
                    <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url" class="nopad-l">
                            <span itemprop="title">@Localizer["Trang chủ"]</span>
                        </a>
                    </div>
                    <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        &nbsp;<i class="fa fa-angle-right"></i>&nbsp;<a href="" itemprop="url">
                                                                         <span itemprop="title">@Localizer["Liên hệ"]</span>
                        </a>
                    </div>
                </div>
            </div><!--right-->
        </div><!--row-->
    </div><!--container-->
</section><!--head-page-->
<section id="contact-us">
    <div class="container">
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3730.753419571142!2d106.05095901437105!3d20.760786086144115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135b928beada44b%3A0x2c1ad15d1feb238a!2zQ8O0bmcgdHkgVE5ISCBOxrDhu5tjIFPhuqFjaCBOZ-G7jWMgVHXhuqVuIC0gTmFnYW9rYSAtIE5ow6AgbcOheSBuxrDhu5tjIHPhuqFjaCBOZ-G7jWMgVHXhuqVu!5e0!3m2!1svi!2s!4v1540438353514" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Partial", new { _PartialName = "_ContactInfo" })
            <div class="col-lg-7 col-md-6">
                <div class="contact-form">
                    <h3>@noties</h3>
                    <form asp-action="Contact" asp-controller="Home">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label asp-for="Fullname" class="control-label"> </label>
                                <span asp-validation-for="Fullname" class="text-danger"></span>
                                <input asp-for="Fullname" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="Email" class="control-label"></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label asp-for="Mobile" class="control-label"></label>
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                                <input asp-for="Mobile" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="CompanyName" class="control-label"></label>
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                                <input asp-for="CompanyName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label asp-for="Description" class="control-label"></label>
                                <span asp-validation-for="Description" class="text-danger"></span>
                                <textarea rows="10" asp-for="Description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input type="submit" value="@Localizer["Gửi liên hệ"]" class="btn btn-primary" @(reContact ? "" : "disabled") />
                            </div>
                        </div>
                    </form>
                </div><!--form-->
            </div><!--left-->
        </div><!--row-->
    </div><!--container-->
</section>