@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model EntityFramework.Web.Entities.ParamSetting

@{
    ViewData["Title"] = Localizer["Chi tiết"];
}

<h1>@Localizer["Chi tiết"]</h1>

<div>
    <h4>@Localizer["Tham số"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Since)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Since)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCreator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserModify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserModify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateModify)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateModify)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Sửa"]</a> | <a asp-action="Delete" asp-route-id="@Model.Id">@Localizer["Xóa"]</a> |
    <a asp-action="Index">@Localizer["Quay lại danh sách"]</a>
</div>
