@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SSO.Entities.AppRole

@{
    ViewData["Title"] = Localizer["Xóa"];
}

<h1>@Localizer["Xóa"]</h1>

<h3>@Localizer["Bạn có chắc muốn xóa bản ghi này?"]</h3>
<div>
    <h4>@Localizer["Danh sách quyền"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Xóa"]" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Quay lại danh sách"]</a>
    </form>
</div>
