@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<SSO.Entities.AppRole>

@{
    ViewData["Title"] = Localizer["Danh sách"];
}

<h1>@Localizer["Danh sách"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                </td>
                <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Sửa"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Chi tiết"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Xóa"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
