@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var isMisa = false;
    var _url = $"https://sinvoice.viettel.vn/tracuuhoadon?supplierTaxCode={ViewData["supplierTaxCode"]}&reservationCode={ViewData["reservationCode"]}";
    if (ViewData["invoiceType"].ToString() == "vinvoice")
    {
        if (ViewData["reservationCode"].ToString().StartsWith("[MISA]"))// Misa invoice
        {
            isMisa = true;
            _url = $"https://www.meinvoice.vn/tra-cuu/?sc={ViewData["reservationCode"].ToString().Replace("[MISA]", "")}";
        }
        else 
        {
            _url = $"https://vinvoice.viettel.vn/utilities/invoice-search?invoiceNo={ViewData["invoiceNo"]}&supplierTaxCode={ViewData["supplierTaxCode"]}&reservationCode={ViewData["reservationCode"]}";
        }        
    }
}
<section class="head-page">
    <div class="container">
        <div class="form">
            <div class="form-group row">
                <label class="col-md-3 col-sm-4 col-form-label text-right">@Localizer["MST bên bán"]</label>
                <div class="col-md-7 col-sm-6">
                    <input type="text" class="form-control" disabled value="@((String.IsNullOrEmpty(Context.Request.Query["supplierTaxCode"]) ? "" : Context.Request.Query["supplierTaxCode"]))" />
                </div><!--col-->
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-sm-4 col-form-label text-right">@Localizer["Mã số bí mật"]</label>
                <div class="col-md-7 col-sm-6">
                    <input type="text" class="form-control" disabled value="@((String.IsNullOrEmpty(Context.Request.Query["reservationCode"]) ? "" : Context.Request.Query["reservationCode"]))" />
                </div><!--col-->
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-sm-4 col-form-label text-right">@Localizer["Số hóa đơn"]</label>
                <div class="col-md-7 col-sm-6">
                    <input type="text" class="form-control" disabled value="@((String.IsNullOrEmpty(Context.Request.Query["invoiceNo"]) ? "" : Context.Request.Query["invoiceNo"]))" />
                </div><!--col-->
            </div>
        </div>
</section>

@if (isMisa)
{
    <script language="javascript">
        var newWin = window.open("@_url");
        if (!newWin || newWin.closed || typeof newWin.closed == 'undefined') {
            location.href = "@_url";
        }
    </script>
}
else 
{
    <script language="javascript">
        var newWin = window.open("@_url");
    </script>
    <iframe width="100%" height="750" src="@_url"></iframe>
}