@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LoginViewModel

<div class="login-page">
    <div class="lead">

        @if (!String.IsNullOrEmpty(Model.ClientLogo))
        {
        <h1>
            @Localizer["Đăng nhập hệ thống"]
            <a href="@((String.IsNullOrEmpty(Model.ClientUri) ? "#" : Model.ClientUri))">@Model.ClientName <img src="@Model.ClientLogo" height="34" /></a>
        </h1>
        }
        else
        {
    <h1>
        @Localizer["Đăng nhập hệ thống SSO"]
    </h1>
        }

    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>@Localizer["Tài khoản SSO"]</h2>
                    </div>

                    <div class="card-body">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="RememberLogin">
                                        <label class="form-check-label" asp-for="RememberLogin"></label>
                                    </div>
                                </div>}

                            <div>
                                <p>The default users are alice/bob, password: Pass123$</p>
                            </div>

                            <button class="btn btn-primary" name="button" value="login">@Localizer["Đăng nhập"]</button>
                            <button class="btn btn-secondary" name="reset" type="reset">@Localizer["Nhập lại"]</button>

                            <a asp-action="ForgotPassword" asp-controller="Account" asp-route-ReturnUrl="@Model.ReturnUrl" class="btn btn-secondary">@Localizer["Quên mật khẩu"]</a>
                            <a asp-action="Register" asp-controller="Account" asp-route-ReturnUrl="@($"/Account/Login?ReturnUrl={System.Net.WebUtility.UrlEncode(Model.ReturnUrl)}")" class="btn btn-success">@Localizer["Đăng ký"]</a>

                            @*<button action="/Account/ForgotPassword" class="btn btn-secondary" name="button" value="forgotpassword">Quên mật khẩu</button>
                                <button class="btn btn-success" name="button" value="register">Đăng ký</button>*@
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>@Localizer["Tài khoản Gmail, Facebook"]</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
    <div class="alert alert-warning">
        <strong>@Localizer["Tên tài khoản, mật khẩu không có"]</strong>
        @Localizer["Không có thông tin cấu hình đăng nhập bằng tài khoản Gmail, Facebook"]
    </div>
        }
    </div>
</div>