@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SSO.Models.ManageViewModels.TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = @Localizer["Đăng ký đăng nhập với OTP"];
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["Bạn đã hết mã khôi phục"].</strong>
            <p>@Localizer["Bạn cần"] <a asp-action="GenerateRecoveryCodes"> @Localizer["tạo thêm mã khôi phục"]</a> @Localizer["trước khi bạn đăng nhập với mã khôi phục"].</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["Bạn chỉ còn 1 mã khôi phục"].</strong>
            <p>@Localizer["Bạn nên"] <a asp-action="GenerateRecoveryCodes"> @Localizer["tạo thêm mã khôi phục"]</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@Localizer["Bạn chỉ còn"] @Model.RecoveryCodesLeft @Localizer["mã khôi phục"].</strong>
            <p>@Localizer["Bạn nên"] <a asp-action="GenerateRecoveryCodes"> @Localizer["tạo thêm mã khôi phục"]</a>.</p>
        </div>
    }

<a asp-action="Disable2faWarning" class="btn btn-primary">@Localizer["Hủy đăng nhập OTP"]</a>
<a asp-action="GenerateRecoveryCodesWarning" class="btn btn-primary">@Localizer["Xóa mã khôi phục"]</a>
}

<h5>@Localizer["Ứng dụng mã OTP"]</h5>
@if (!Model.HasAuthenticator)
{
<a asp-action="EnableAuthenticator" class="btn btn-primary">@Localizer["Thêm ứng dụng mã OTP"]</a>
}
else
{
<a asp-action="EnableAuthenticator" class="btn btn-primary">@Localizer["Cấu hình ứng dụng mã OTP"]</a>
<a asp-action="ResetAuthenticatorWarning" class="btn btn-primary">@Localizer["Hủy cấu hình ứng dụng mã OTP"]</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
